exercice3/csv_files/resultat.csv
exercice3/json_files/resultat.json
exercice3/changeCsvFiles/fichier_modifie.csv
exercice1/.venv
exercice2/.venv
exercice3/.venv
exercice4/.venv
exercice5/.venv
exercice6/.venv
exercice7/.venv
exercice8/.venv